

  <div class="w3-container" id="history">
  <div class="w3-content" style="max-width:800px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT US</span></h5>
    <p class='firstp'>The café was opened in the 1880s, during the Third Republic. The name is taken from a sculpture of Flora, the goddess of flowers and the season of spring in Roman mythology, located on the opposite side of the boulevard. Authors Joris-Karl Huysmans and Remy de Gourmont were two of the first well-known regulars. In the late 19th century, Charles Maurras wrote his book Au signe de Flore on the café's first floor, where in 1899 the Revue d'Action Française was also founded.</p>
    <p>The Café de Flore became a popular hub of famous writers and philosophers. Georges Bataille, Robert Desnos, Léon-Paul Fargue, Raymond Queneau were all regulars, and so was Pablo Picasso. Chinese Premier Zhou Enlai was known to be a frequent patron of Café de Flore during his years in France in the 1920s. The classic Art Deco interior of all red seating, mahogany and mirrors has changed little since World War II.</p>
    <p>Like its main rival, Les Deux Magots, it has been frequented by numerous French intellectuals during the post-war years. In his essay "A Tale of Two Cafes" and his book Paris to the Moon, American writer Adam Gopnik mused over the possible explanations of why the Flore had become, by the late 1990s, much more fashionable and popular than Les Deux Magots, despite the fact that the latter café was associated with Jean-Paul Sartre, Simone de Beauvoir, Albert Camus, and other famous thinkers of the 1940s and 1950s.</p>
    <p>A Romanian thinkers league also frequented the place, for example: Emil Cioran, Eugene Ionesco and essayist Benjamin Fondane.</p>
    <p>The Prix de Flore, a literary prize inaugurated by Frédéric Beigbeder in 1994, is awarded annually at the Café de Flore.</p>

    <div class="w3-panel w3-leftbar w3-light-grey">
  </div>
</div>
