<div class='gallery-container-one'>
  <div class="gallery1">
    <a target="_blank" href="images/Cafe_de_Flore_2007.jpg">
      <img src="images/Cafe_de_Flore_2007.jpg" alt="" width="600" height="400">
    </a>
    
  </div>

  <div class="gallery">
    <a target="_blank" href="images/cafe.jpg">
      <img src="images/cafe.jpg" alt="" width="600" height="400">
    </a>
  
  </div>
</div>

<div class='gallery-container-two'>
  <div class="gallery2">
    <a target="_blank" href="images/food.jpg">
      <img src="images/food.jpg" alt="" width="600" height="400">
    </a>
    
  </div>

  <div class="gallery">
    <a target="_blank" href="images/watercolor.jpg">
      <img src="images/watercolor.jpg" alt="" width="600" height="400">
    </a>
  
  </div>
</div>
