<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cafe de Flore</title>

  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  {{> navbar}}
  {{{ body }}}
  {{> footer}}
 

</body>
</html>